

/* CONTAINER SET */

.my-container .main {
    margin-top: 40px;
    float: left;
    width: 60%;
    padding: 0 2vw 0 5vw;

    /* padding: 0 5vh 0 2vw; */
}

.my-container .sidebar--right {
    float: left;
    width: 35%;
    height: 800px;
    margin-top: 40px;
    margin-left: 3vw;
}

/* MAIN INFO */
section .main__info {

}
#my_table {
    
}

#title{
    padding: 30px;
    color: #1e56a0;
    font-size: 25px;
}

#my_table th{
    padding-left: 30px;
    color: #928a97;
}

#my_table td{
    font-size: 15px;
    font-weight: 600;
}

#my_table h5 {
    position: absolute;
    width: 100%;
}
/* MAIN CARD FORM */
#cards {
    position: relative;
    
}

#cards .my_card {
    margin-bottom: 4vh;
 
    /* box-shadow:  */
    /* 0 2px 2px 0 rgba(0, 0, 0, 0.1), 
    0 1px 5px 0 rgba(0, 0, 0, 0.08), 
    0 3px 1px -2px rgba(0, 0, 0, 0.1); */
}

/* CARD SPECIFIC SET */
#cards .my_card .card-body {
    box-sizing: content-box;
    height: 100%;
}

#cards .my_card .card-body h5 {
    box-sizing: content-box;
    color: #1e56a0;
    cursor: pointer;
    font-size: 20px;
    margin: 0 0 25px;
    /* 한 줄 자르기 */
    display: inline-block; 
    width: 100%; 

}

#cards .my_card .card-body .abstract-text {
    overflow: auto;
    white-space: pre-wrap; /* pre tag내에 word wrap */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin: 0 0 25px;
    /* 여러 줄 자르기 */
   
}

#cards .my_card .card-body .card-text {
    display: inline;
    padding-right: 1.5vw;
}


/* MAIN RESULT SET */
.my_card .detail--row {
    display: flex;
    margin-bottom: 1rem;
}

.my_card .detail--row .detail--title {
    color: #928a97;
    margin-right: .3rem;
    width: 15%;
}

.my_card .detail--row .detail--value {
    font-size: 14px;
    font-weight: 600;
}

/* SIDEBAR SET */
.my-container .sidebar--right .sidebar--container {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    line-height: 50%;
    width: 100%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.my-container .sidebar--right .sidebar--container:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.my-container .sidebar--right .sidebar {
    box-sizing: border-box;


    /* border: 2px solid #e2e2e2; */
    /* margin: 10 10 10 10;
    margin-ri.sidebar--right: 50px; */

}
.sidebar--right  h5 {

    padding-bottom: 12px;
    padding: 10px;
    margin-bottom: 25px;
    
}

.sidebar--right .sidebar .title {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 1.5;
}
.my--recommend ul li {
    font-size: 14px;
    margin: 0 0 25px;
    /* 한 줄 자르기 */
    display: inline-block; 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.my--recommend ul li a {
    color: #1e56a0;
}
/* .my--recommend ul {
    padding-bottom: 10px;
} */