
body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    width: 100vw;
    margin: 0;
}

/* HEADER */
header {
    width: 100%;
    /* border-bottom: 0.5px solid rgba(0, 0, 0, .55); */
    box-shadow: 0 0 3px rgba(0, 0, 0, .35);
    /* 색상의 이름의 직접 이력 보다는 헥시컬 코드를 입력해주어야 브라우져 마다의 색상이 동일하게 나올 수 있다. */
    backgroud: #fff;
}
header .inner {
    box-sizing: content-box;
    height: 100px;
}



header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}



header .logo {
    width: 25%;
    height: 100%;
    /* text-align: center; */
    /* vertical-align:middle;
    display:table-cell; */
}

header .logo a {
    margin-left: 5vw;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
}


header .searcher {
    display: flex;
    align-items: center;
    line-height: 24px;
    height: 100%;
    width: 850px;
    display: flex;
    /* padding-left: 2vw; */
}

header .search--form #form-search { 
    background: 
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 
    9px 
    center;
    border: solid 1px #ccc;
    height: 45px;
    width: 400px;
    line-height: 30px;
    border-radius: 25px;
    padding: 0 32px;
}

 
header .search--form #form-search:hover {
    border-color: #e4e4e4;
    padding-top: 0;
    border-radius: 10em;
}
header .search--form #form-search:focus{
    outline: none;
}
header .search--form .btn--form {
    margin-left: 17px;
    border-radius: 10em;
    height: 45px;
  }




